h1 {
  text-align: center;
  color: rgb(94, 94, 94)
}
p {
  text-align: center;
  color: rgb(94, 94, 94)
}
img {
  width: 20em;
  height: 15em;
}
h2 {
  text-align: center;
  color: rgb(94, 94, 94)
}
.container {
  display: inline-flex;
  flex-direction: row;
  position: relative;
}
.box1 {
  position: relative;
}
.box3 {
  position: relative;
  z-index: 30;
}
.city1 {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 80px;
  left: 25px;
}
.city2 {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 80px;
  left: 260px;
}
.city3 {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 80px;
  left: 510px;
}
.city4 {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 80px;
  left: 80px;
}
.city5 {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 80px;
  left: 295px;
}
.city6 {
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 80px;
  left: 500px;
}
html {
  background-color: lightgrey;
}
.destinations {
  margin-left: 275px;
}
.guidebooks {
  margin-left: 275px;
}